{% extends "base.html" %}
{% block title %}Reset{% endblock title %}
{% block content %}
{% load crispy_forms_tags %}
		
    <form class="mb-5" method="post" >
        <!-- Email -->
        {% csrf_token %}
        <div class="form-group">
            <label>{{field.label_tag}}</label>
            <p> {{form|crispy}} </p>
        </div>
        <!-- Submit -->
        <button class="btn btn-block btn-primary" type="submit">
            SEND CONFIRM LINK
        </button>
    </form>
{% endblock content %}