{% load product_tags %}
<div id="myTabContent" class="tab-content category-list">
   <div class="tab-pane active " id="grid-container">
      <div class="category-product">
         <div class="row">
            {% for p in product %}
            <div class="col-sm-6 col-md-4 wow fadeInUp">
               <div class="products">
                  <div class="product">
                     <div class="product-image">
                        <div class="image"> <a href="{% if user.is_authenticated %}/product/{{p.maincategory}}/{{p.subcategory}}/{{p.slug}}{% endif %}"><img  src="/media/{% product_img_src p.image1 %}" alt=""></a> </div>
                        <!-- /.image -->
                        <div class="tag {% product_label p.discount %}"><span>{% product_label p.discount %}</span></div>
                     </div>
                     <!-- /.product-image -->
                     <div class="product-info text-left">
                        <h3 class="name"><a href="{% if user.is_authenticated %}/product/{{p.maincategory}}/{{p.subcategory}}/{{p.slug}}{% endif %}">{{p.title}}</a></h3>
                        <div class="rating rateit-small"></div>
                        <div class="description"></div>
                        <div class="product-price"> <span class="price"> Rs. {% discount_price p.price p.discount %} </span> <span class="price-before-discount">Rs. {{p.price}}</span> </div>
                        <!-- /.product-price --> 
                     </div>
                     <!-- /.product-info -->
                     <div class="cart clearfix animate-effect">
                        <div class="action">
                           <ul class="list-unstyled">
                              <li class="add-cart-button btn-group">
                                 {% product_color p.color as color %}
                                 {% product_size p.size as size %}
                                 <form class="add-cart-button btn-group" method="get" action=" {% if user.is_authenticated %}{% url 'add-cart' %}{% endif %} ">
                                    <input type="text" name="slug" value="{{p.slug}}" hidden>
                                    <input type="text" name="qty" value="1" hidden>
                                    <input type="text" name="color" value="{{color.0}}" hidden>
                                    <input type="text" name="size" value="{{size.0}}" hidden>
                                    <button data-toggle="tooltip" class="btn btn-primary icon" type="submit" title="Add Cart"> <i class="fa fa-shopping-cart"></i> </button>
                                 </form>
                              </li>
                              <li class="lnk wishlist"> <a class="add-to-cart" href="{% if user.is_authenticated %}/accounts/wishlist/add/{{p.slug}}{% endif %}" title="Wishlist"> <i class="icon fa fa-heart"></i> </a> </li>
                           </ul>
                        </div>
                        <!-- /.action --> 
                     </div>
                     <!-- /.cart --> 
                  </div>
                  <!-- /.product --> 
               </div>
               <!-- /.products --> 
            </div>
            {% endfor %}
            <!-- /.item -->
         </div>
         <!-- /.row --> 
      </div>
      <!-- /.category-product --> 
   </div>
   <!-- /.tab-pane -->
   <div class="tab-pane "  id="list-container">
      <div class="category-product">
         {% for p in product %}
         <div class="category-product-inner wow fadeInUp">
            <div class="products">
               <div class="product-list product">
                  <div class="row product-list-row">
                     <div class="col col-sm-4 col-lg-4">
                        <div class="product-image">
                           <div class="image"> <img src="/media/{% product_img_src p.image1 %}" alt=""> </div>
                        </div>
                        <!-- /.product-image --> 
                     </div>
                     <!-- /.col -->
                     <div class="col col-sm-8 col-lg-8">
                        <div class="product-info">
                           <h3 class="name"><a href="{% if user.is_authenticated %}/product/{{p.maincategory}}/{{p.subcategory}}/{{p.slug}}{% endif %}">{{p.title}}</a></h3>
                           <div class="rating rateit-small"></div>
                           <div class="product-price"> <span class="price"> Rs. {% discount_price p.price p.discount %} </span> <span class="price-before-discount">Rs. {{p.price}}</span> </div>
                           <!-- /.product-price -->
                           <div class="description m-t-10">
                              {{p.description}}
                           </div>
                           <div class="cart clearfix animate-effect">
                              <div class="action">
                                 <ul class="list-unstyled">
                                    <li class="add-cart-button btn-group">
                                       <button class="btn btn-primary icon" data-toggle="dropdown" type="button"> <i class="fa fa-shopping-cart"></i> </button>
                                       <form class="add-cart-button btn-group" method="get" action="{% if user.is_authenticated %} {% url 'add-cart' %} {% endif %}">
                                          <input type="text" name="slug" value="{{p.slug}}" hidden>
                                          <input type="text" name="qty" value="1" hidden>
                                          <button class="btn btn-primary cart-btn" type="submit">Add to cart</button>
                                       </form>
                                    </li>
                                    <li class="lnk wishlist"> <a class="add-to-cart" href="{% if user.is_authenticated %}/accounts/wishlist/add/{{p.slug}}{% endif %}" title="Wishlist"> <i class="icon fa fa-heart"></i> </a> </li>
                                 </ul>
                              </div>
                              <!-- /.action --> 
                           </div>
                           <!-- /.cart --> 
                        </div>
                        <!-- /.product-info --> 
                     </div>
                     <!-- /.col --> 
                  </div>
                  <!-- /.product-list-row -->
                  <div class="tag {% product_label p.discount %}"><span>{% product_label p.discount %}</span></div>
               </div>
               <!-- /.product-list --> 
            </div>
            <!-- /.products --> 
         </div>
         <!-- /.category-product-inner -->
         {% endfor %}
      </div>
      <!-- /.category-product --> 
   </div>
   <!-- /.tab-pane #list-container --> 
</div>
<!-- /.tab-content -->
<!--<div class="clearfix filters-container">
  <div class="text-right">
     <div class="pagination-container">
        <ul class="list-inline list-unstyled">
           <li class="prev"><a href="#"><i class="fa fa-angle-left"></i></a></li>
           <li><a href="#">1</a></li>
           <li class="active"><a href="#">2</a></li>
           <li><a href="#">3</a></li>
           <li><a href="#">4</a></li>
           <li class="next"><a href="#"><i class="fa fa-angle-right"></i></a></li>
        </ul> 
     </div>
  </div>
</div>-->
<!-- /.filters-container --> 
