{% extends 'base.html' %}
{% block title %}About{% endblock title %}
{% block content %}
<div class="main" style="background-color: white;">

    <div class="container" style="background-color: transparent;width:100%;padding: 15px;display: flex;align-items: center;justify-content: center;">
        <h1 style="color: black;">About Us</h1>
    </div>
    <div class="container" style="background-color: transparent;width:100%;padding: 15px;display: flex;align-items: center;justify-content: center;flex-direction: column;">
        <h3>We Are Shoping Platform !</h3>
        <p>We have 500+ sellers on our platform named wallmart and 1 Million plus products on our platform </p>
        <br><br>
        <h2 style="color: black;">Features of wallmart:</h2>
        <br>
        <ul style="list-style-type: circle;">
            <li style="margin: 10px;">Smooth Ui interface</li>
            <li style="margin: 10px;">Easy to register as user or seller</li>
            <li style="margin: 10px;">Easy to navigate between menus</li>
            <li style="margin: 10px;">Multivendor Functionality</li>
            <li style="margin: 10px;">Easy to add product in cart & wishlist</li>
            <li style="margin: 10px;">User friendly review system</li>
            <li style="margin: 10px;">Easy to checkout</li>
            <li style="margin: 10px;">Easy to manage orders</li>
        </ul>
    </div>
</div>

{% endblock content %}