{% extends 'base.html' %}
{% block title %}Cart{% endblock title %}
{% block content %}
{% load product_tags %}
<div class="breadcrumb">
	<div class="container">
		<div class="breadcrumb-inner">
			<ul class="list-inline list-unstyled">
				<li><a href=" {% url 'home' %} ">Home</a></li>
				<li class='active'>Shopping Cart</li>
			</ul>
		</div><!-- /.breadcrumb-inner -->
	</div><!-- /.container -->
</div><!-- /.breadcrumb -->

<div class="body-content outer-top-xs">
	<div class="container">
		<div class="row ">
			<div class="shopping-cart">
				<div class="shopping-cart-table ">
	<div class="table-responsive">
		<table class="table">
			<thead>
				<tr>
					<th class="cart-romove item">Remove</th>
					<th class="cart-description item">Image</th>
					<th class="cart-product-name item">Product Name</th>
					<th class="cart-qty item">Quantity</th>
					<th class="cart-sub-total item">Subtotal</th>
					<th class="cart-total last-item">Grandtotal</th>
				</tr>
			</thead><!-- /thead -->
			<tfoot>
				<tr>
					<td colspan="7">
						<div class="shopping-cart-btn">
							<span class="">
								<a href=" {% url 'shop' %} " class="btn btn-upper btn-primary outer-left-xs">Continue Shopping</a>
							</span>
						</div><!-- /.shopping-cart-btn -->
					</td>
				</tr>
			</tfoot>
			<tbody>
                {% for p in user.cart_set.all reversed %}
                    <tr>
                        <td class="romove-item"><a href="/accounts/cart/remove/{{p.product.slug}}" title="cancel" class="icon"><i class="fa fa-trash-o"></i></a></td>
                        <td class="cart-image">
                            <a class="entry-thumbnail" href="/product/{{p.product.maincategory}}/{{p.product.subcategory}}/{{p.product.slug}}">
                                <img src="/media/{% product_img_src p.product.image1 %}" alt="">
                            </a>
                        </td>
                        <td class="cart-product-name-info">
                            <h4 class='cart-product-description'><a href="/product/{{p.product.maincategory}}/{{p.product.subcategory}}/{{p.product.slug}}">{{p.product.title}}</a></h4>
                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="rating rateit-small">
                                        <div id="rateit-range-4" class="rateit-range" tabindex="0" role="slider" aria-label="rating" aria-owns="rateit-reset-4" aria-valuemin="0" aria-valuemax="5" aria-valuenow="4" style="width: 70px; height: 14px;" aria-readonly="true">
                                            <div class="rateit-selected" style="height: 14px; width: {% product_star_avg p.product.review_set.all %}%;"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-8">
                                    <div class="reviews">
                                        ({{p.product.review_set.all.count}} Reviews)
                                    </div>
                                </div>
                            </div><!-- /.row -->
                            <div class="cart-product-info">
                                    <span class="product-color">COLOR:<span>{{p.color | capfirst}}</span></span>&nbsp;&nbsp;&nbsp;
                                    <span class="product-size">SIZE:<span>{{p.size | capfirst}}</span></span>
                            </div>
                        </td>
                        <td class="cart-product-quantity">
                            <div class="quant-input">
                                    
                                <h3>{{p.quantity}}</h3>
                            </div>
                        </td>
                        {% discount_price p.product.price p.product.discount as disprice %}
                        <td class="cart-product-sub-total"><span class="cart-sub-total-price"> Rs. {{disprice}} </span></td>
                        <td class="cart-product-grand-total"><span class="cart-grand-total-price">Rs. {% cart_item_total disprice p.quantity %} </span></td>
                    </tr>
                {% endfor %}

			</tbody><!-- /tbody -->
		</table><!-- /table -->
	</div>
</div><!-- /.shopping-cart-table -->				

<div class="col-md-8 col-sm-12 estimate-ship-tax">
	<table class="table">
		<thead>
			<tr>
				<th>
					<span class="estimate-title">Discount Code</span>
					<p>Enter your coupon code if you have one..</p>
				</th>
			</tr>
		</thead>
		<tbody>
				<tr>
					<td>
						<div class="form-group">
							<input type="text" class="form-control unicase-form-control text-input" placeholder="You Coupon..">
						</div>
						<div class="clearfix pull-right">
							<button type="submit" class="btn-upper btn btn-primary">APPLY COUPON</button>
						</div>
					</td>
				</tr>
		</tbody><!-- /tbody -->
	</table><!-- /table -->
</div><!-- /.estimate-ship-tax -->

<div class="col-md-4 col-sm-12 cart-shopping-total">
	<table class="table">
		<thead>
			<tr>
				<th>
					<div class="cart-sub-total">
						Subtotal<span class="inner-left-md">Rs. {% cart_sub_total user.cart_set.all %} </span>
					</div>
					<div class="cart-grand-total">
						Grand Total<span class="inner-left-md">Rs. {% cart_sub_total user.cart_set.all %}</span>
					</div>
				</th>
			</tr>
		</thead><!-- /thead -->
		<tbody>
				<tr>
					<td>
						<div class="cart-checkout-btn pull-right">
							<a href=" {% url 'checkout' %} " type="submit" class="btn btn-primary checkout-btn">PROCCED TO CHEKOUT</a>
							
						</div>
					</td>
				</tr>
		</tbody><!-- /tbody -->
	</table><!-- /table -->
</div><!-- /.cart-shopping-total -->			</div><!-- /.shopping-cart -->
		</div> <!-- /.row -->
		<!-- ============================================== BRANDS CAROUSEL ============================================== -->
<div id="brands-carousel" class="logo-slider wow fadeInUp">

		<div class="logo-slider-inner">	
			<div id="brand-slider" class="owl-carousel brand-slider custom-carousel owl-theme">
				<div class="item m-t-15">
					<a href="#" class="image">
						<img data-echo="/static/assets/images/brands/brand1.png" src="/static/assets/images/blank.gif" alt="">
					</a>	
				</div><!--/.item-->

				<div class="item m-t-10">
					<a href="#" class="image">
						<img data-echo="/static/assets/images/brands/brand2.png" src="/static/assets/images/blank.gif" alt="">
					</a>	
				</div><!--/.item-->

				<div class="item">
					<a href="#" class="image">
						<img data-echo="/static/assets/images/brands/brand3.png" src="/static/assets/images/blank.gif" alt="">
					</a>	
				</div><!--/.item-->

				<div class="item">
					<a href="#" class="image">
						<img data-echo="/static/assets/images/brands/brand4.png" src="/static/assets/images/blank.gif" alt="">
					</a>	
				</div><!--/.item-->

				<div class="item">
					<a href="#" class="image">
						<img data-echo="/static/assets/images/brands/brand5.png" src="/static/assets/images/blank.gif" alt="">
					</a>	
				</div><!--/.item-->

				<div class="item">
					<a href="#" class="image">
						<img data-echo="/static/assets/images/brands/brand6.png" src="/static/assets/images/blank.gif" alt="">
					</a>	
				</div><!--/.item-->

				<div class="item">
					<a href="#" class="image">
						<img data-echo="/static/assets/images/brands/brand2.png" src="/static/assets/images/blank.gif" alt="">
					</a>	
				</div><!--/.item-->

				<div class="item">
					<a href="#" class="image">
						<img data-echo="/static/assets/images/brands/brand4.png" src="/static/assets/images/blank.gif" alt="">
					</a>	
				</div><!--/.item-->

				<div class="item">
					<a href="#" class="image">
						<img data-echo="/static/assets/images/brands/brand1.png" src="/static/assets/images/blank.gif" alt="">
					</a>	
				</div><!--/.item-->

				<div class="item">
					<a href="#" class="image">
						<img data-echo="/static/assets/images/brands/brand5.png" src="/static/assets/images/blank.gif" alt="">
					</a>	
				</div><!--/.item-->
		    </div><!-- /.owl-carousel #logo-slider -->
		</div><!-- /.logo-slider-inner -->
	
</div><!-- /.logo-slider -->
<!-- ============================================== BRANDS CAROUSEL : END ============================================== -->	</div><!-- /.container -->
</div><!-- /.body-content -->

{% endblock content %}