{% extends 'base.html' %}
{% block title %}Profile{% endblock title %}
{% block content %}
        <!-- Start of Main -->
        <main class="main" style="background-color: white;">
            <!-- Start of Page Header -->
            <div class="page-header">
                <div class="container">
                    <h1 class="page-title mb-0">My Account</h1>
                </div>
            </div>
            <!-- End of Page Header -->

            <!-- Start of PageContent -->
            <div class="page-content pt-2">
                <div class="container">
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item">
                          <a class="nav-link active" id="Account-tab" data-toggle="tab" href="#Account" role="tab" aria-controls="Account" aria-selected="true">Account</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" id="Address-tab" data-toggle="tab" href="#Address" role="tab" aria-controls="Address" aria-selected="false">Address</a>
                        </li>
                      </ul>
                      <div class="tab-content" id="myTabContent">
                        <div class="tab-pane active" id="Account" role="tabpanel" aria-labelledby="Account-tab">
                            <div class="container-fluid" style="display: flex;justify-content: center; background-color: white; padding: 10px;">
                                <div class="col-md-8 col-sm-8">
                                    <h4 class="">User Profile</h4>
                                    
                                    <form class="outer-top-xs" role="form" action=" {% url 'profileupdate' %} " method="post">
                                        {% csrf_token %}
                                        <div class="form-group">
                                            <label class="info-title" for="email">Email Address <span>*</span></label>
                                            <input type="email" value="{{user.email}}" name="em" class="form-control unicase-form-control text-input" id="email" readonly>
                                        </div>
                                        <div class="form-group">
                                            <label class="info-title" for="password">Password <span>*</span></label>
                                            <input type="password" value="" name="pass" class="form-control unicase-form-control text-input" id="password" >
                                        </div>
                                        <div class="form-group">
                                            <label class="info-title" for="firstname">First Name <span>*</span></label>
                                            <input type="text" value="{{user.first_name}}" name="firstname" class="form-control unicase-form-control text-input" id="fname" >
                                        </div>
                                        <div class="form-group">
                                            <label class="info-title" for="lastname">Last Name <span>*</span></label>
                                            <input type="text" value="{{user.last_name}}" name="lastname" class="form-control unicase-form-control text-input" id="lname" >
                                        </div>
                                        <div class="form-group">
                                            <label class="info-title" for="uname">User Name <span>*</span></label>
                                            <input type="text" value="{{user.username}}" name="Username" class="form-control unicase-form-control text-input" id="uname" readonly>
                                        </div>
                                        <button type="submit" class="btn-upper btn btn-primary">Update</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="Address" role="tabpanel" aria-labelledby="Address-tab">
                            <div class="container-fluid" style="display: flex;justify-content: center; background-color: white; padding: 10px;">
                            </div>
                        </div>
                      </div>
                </div>
            </div>
            <!-- End of PageContent -->
        </main>
        <!-- End of Main -->

{% endblock content %}