{% extends 'base.html' %}
{% block title %}Profile{% endblock title %}
{% block content %}
{% load product_tags %}
        <!-- Start of Main -->
        <main class="main" style="background-color: white;">
            <!-- Start of Page Header -->
            <div class="page-header">
                <div class="container">
                    <h1 class="page-title mb-0">My Account</h1>
                </div>
            </div>
            <!-- End of Page Header -->

            <!-- Start of PageContent -->
            <div class="page-content pt-2">
                <div class="container">
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item">
                          <a class="nav-link active" id="Account-tab" data-toggle="tab" href="#Account" role="tab" aria-controls="Account" aria-selected="true">Account</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" id="Address-tab" data-toggle="tab" href="#Address" role="tab" aria-controls="Address" aria-selected="false">Address</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" id="Order-tab" data-toggle="tab" href="#Order" role="tab" aria-controls="Order" aria-selected="false">Order's</a>
                        </li>
                      </ul>
                      <div class="tab-content" id="myTabContent">
                        <div class="tab-pane active" id="Account" role="tabpanel" aria-labelledby="Account-tab">
                            <div class="container-fluid" style="display: flex;justify-content: center; background-color: white; padding: 10px;">
                                <div class="col-md-8 col-sm-8">
                                    <h4 class="">User Profile</h4>
                                    
                                    <form class="outer-top-xs" role="form" action=" {% url 'profileupdate' %} " method="post">
                                        {% csrf_token %}
                                        <div class="form-group">
                                            <label class="info-title" for="email">Email Address <span>*</span></label>
                                            <input type="email" value="{{user.email}}" name="em" class="form-control unicase-form-control text-input" id="email" readonly>
                                        </div>
                                        <div class="form-group">
                                            <label class="info-title" for="password">Password <span>*</span></label>
                                            <input type="password" value="" name="pass" class="form-control unicase-form-control text-input" id="password" >
                                        </div>
                                        <div class="form-group">
                                            <label class="info-title" for="firstname">First Name <span>*</span></label>
                                            <input type="text" value="{{user.first_name}}" name="firstname" class="form-control unicase-form-control text-input" id="fname" >
                                        </div>
                                        <div class="form-group">
                                            <label class="info-title" for="lastname">Last Name <span>*</span></label>
                                            <input type="text" value="{{user.last_name}}" name="lastname" class="form-control unicase-form-control text-input" id="lname" >
                                        </div>
                                        <div class="form-group">
                                            <label class="info-title" for="uname">User Name <span>*</span></label>
                                            <input type="text" value="{{user.username}}" name="Username" class="form-control unicase-form-control text-input" id="uname" readonly>
                                        </div>
                                        <button type="submit" class="btn-upper btn btn-primary">Update</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="Address" role="tabpanel" aria-labelledby="Address-tab">
                            <div class="container-fluid" style="display: flex;justify-content: center; background-color: white; padding: 10px;">
                                <div class="container-fluid col-md-8">
                                    <h2>User Address</h2>
                                    <form class="outer-top-xs" role="form" action=" {% url 'address' %} " method="post">
                                        {% csrf_token %}
                                        <div class="form-group">
                                            <label class="info-title" for="street">Street Name <span>*</span></label>
                                            <input type="text" value="{{add.street}}" name="street" class="form-control unicase-form-control text-input" id="street">
                                        </div>
                                        <div class="form-group">
                                            <label class="info-title" for="pin">Pincode *</label>
                                            <select class="unicase-form-control text-input form-control form-control-md mb-0" name="pin" id="pin">
                                                <option value="{{add.pin}}" selected>{{add.pin}}</option>

                                                {% for p in subd %}
                                                    <option value="{{p.pin}}">{{p.pin}}</option>
                                                {% endfor %}
                                            </select>

                                        </div>
                                        <div class="form-group">
                                            <label class="info-title" for="Subd">Sub District <span>*</span></label>
                                            <select class="unicase-form-control text-input form-control form-control-md mb-0" name="subdistrict" id="Subd">
                                                <option value="{{add.subdistrict.name}}" selected>{{add.subdistrict.name}}</option>
                                                
                                                {% for p in subd %}
                                                    <option value="{{p.name}}">{{p.name}}</option>
                                                {% endfor %}
                                            </select>
                                            
                                        </div>
                                        <div class="form-group">
                                            <label class="info-title" for="district">District <span>*</span></label>
                                            <select class="unicase-form-control text-input form-control form-control-md mb-0" name="district" id="district">
                                                <option value="{{add.district}}" selected>{{add.district}}</option>
                                                
                                                {% for p in dis %}
                                                    <option value="{{p.name}}">{{p.name}}</option>
                                                {% endfor %}
                                            </select>
                                            
                                        </div>
                                        <div class="form-group">
                                            <label class="info-title" for="state">State<span>*</span></label>
                                            <select class="unicase-form-control text-input form-control form-control-md mb-0" name="state" id="state">
                                                <option value="{{add.state}}" selected>{{add.state}}</option>
                                                
                                                {% for p in sts %}
                                                    <option value="{{p.name}}">{{p.name}}</option>
                                                {% endfor %}
                                            </select>
                                                                                        
                                        </div>
                                        
                                        <button type="submit" class="btn-upper btn btn-primary">Update</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="Order" role="tabpanel" aria-labelledby="Order-tab">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th scope="col">No.</th>
                                    <th scope="col">Order Id</th>
                                    <th scope="col">Product Name</th>
                                    <th scope="col">Price</th>
                                    <th scope="col">Quantity</th>
                                    <th scope="col">Color</th>
                                    <th scope="col">Size</th>
                                    <th scope="col">Status</th>
                                    <th scope="col">Control</th>
                                    <th scope="col">Bill</th>
                                </tr>
                                </thead>
                                <tbody>
                                    {% for p in order %}
                                        <tr>
                                            <th scope="row">{{forloop.counter}}</th>
                                            <td>{{p.order_id}}</td>
                                            <td>{{p.product.title}}</td>
                                            <td>{% discount_price p.product.price p.product.discount %}</td>
                                            <td>{{p.quantity}}</td>
                                            <td>{{p.color}}</td>
                                            <td>{{p.size}}</td>
                                            <td><span class="badge badge-primary" >{{p.status}}</span></td>
                                            {% if p.status == "SHIPED" %}
                                                <td>
                                                    <span class="badge badge-primary" >OK</span>
                                                </td>
                                            {% elif p.status == "PENDING" %}
                                                <td>
                                                    <span class="badge badge-primary" >WAIT</span>
                                                </td>
                                            {% elif p.status == "REJECT" %}
                                                <td>
                                                    <span class="badge badge-primary" >REJECT</span>
                                                </td>
                                            {% elif p.status == "CANCEL" %}
                                                <td>
                                                    <a href="/vendor/order/DELETE/{{p.id}}" type="submit" class="btn btn-success ">
                                                        DELETE
                                                    </a>
                                                </td>
                                            {% else %}
                                                <td>
                                                    <a href="/vendor/order/SHIPED/{{p.id}}" type="submit" class="btn btn-success ">
                                                        RECEIVED
                                                    </a>
                                                </td>
                                            {% endif %}
                                            <td>
                                                <a href="/vendor/order-bill/{{p.id}}" type="submit" target="_black" class="btn btn-primary ">
                                                    PRINT
                                                </a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    
                      </div>
                </div>
            </div>
            <!-- End of PageContent -->
        </main>
        <!-- End of Main -->

{% endblock content %}