
<!-- ============================================================= FOOTER ============================================================= -->
<footer id="footer" class="footer color-bg">
    <div class="footer-bottom">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="module-heading">
              <h4 class="module-title">Contact Us</h4>
            </div>
            <!-- /.module-heading -->
            
            <div class="module-body">
              <ul class="toggle-footer" style="">
                <li class="media">
                  <div class="pull-left"> <span class="icon fa-stack fa-lg"> <i class="fa fa-map-marker fa-stack-1x fa-inverse"></i> </span> </div>
                  <div class="media-body">
                    <p>Himmatnagar, Gujarat</p>
                  </div>
                </li>
                <li class="media">
                  <div class="pull-left"> <span class="icon fa-stack fa-lg"> <i class="fa fa-mobile fa-stack-1x fa-inverse"></i> </span> </div>
                  <div class="media-body">
                    <p>+(91) 123-4567<br>
                      +(91) 456-7890</p>
                  </div>
                </li>
                <li class="media">
                  <div class="pull-left"> <span class="icon fa-stack fa-lg"> <i class="fa fa-envelope fa-stack-1x fa-inverse"></i> </span> </div>
                  <div class="media-body"> <span><a href="#">ecommerce@demo.com</a></span> </div>
                </li>
              </ul>
            </div>
            <!-- /.module-body --> 
          </div>
          <!-- /.col -->
          
          <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="module-heading">
              <h4 class="module-title">Customer Service</h4>
            </div>
            <!-- /.module-heading -->
            
            <div class="module-body">
              <ul class='list-unstyled'>
                {% if user.is_authenticated %}
                <li class="first"><a href=" {% url 'profile' %} ">My Account</a></li>
                <li><a href="{% url 'profile' %}" title="">Order</a></li>
                {% endif %}
                
                <li><a href="{% url 'shop' %}" title="">Shop</a></li>
                
                {% if user.is_authenticated %}
                  <li><a href="{% url 'cart' %}" title="">Cart</a></li>
                  <li><a href="{% url 'wishlist' %}" title="">Wishlist</a></li>
                {% endif %}
              </ul>
            </div>
            <!-- /.module-body --> 
          </div>
          <!-- /.col -->
          
          <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="module-heading">
              <h4 class="module-title">Corporation</h4>
            </div>
            <!-- /.module-heading -->
            
            <div class="module-body">
              <ul class='list-unstyled'>
                <li class="first"><a title="Your Account" href=" {% url 'about' %} ">About us</a></li>
                <li><a title="Information" href=" {% url 'contact' %} ">Contact us</a></li>
              </ul>
            </div>
            <!-- /.module-body --> 
          </div>
          <!-- /.col -->
        </div>
      </div>
    </div>
    <div class="copyright-bar">
      <div class="container" style="display: flex;justify-content: center;">
        <h6>Copyright : 2022</h6>
      </div>
    </div>
  </footer>
  <!-- ============================================================= FOOTER : END============================================================= --> 