{% if messages %}
    {% for message in messages %}
        {% if message.tags == 'error' %}
            <script>
                alert("Error : "+"{{message}}");
            </script>
        {% elif message.tags == 'success' %}
            <script>
                alert("Success : "+"{{message}}");
            </script>
        {% elif message.tags == 'warning' %}
            <script>
                alert("Warning : "+"{{message}}");
            </script>
        {% endif %}
    {% endfor %}
{% endif %}